<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,
        body{
            height: 100%;
            width: 100%; 
        }
        .main{
            height: 100%;
            width: 100%;
        }
        nav{
            height: 10%;
            width: 100%;
        }
        .container{
            height: 90%;
            width: 100%;
            display: flex;

        }
    </style>
</head>
<body>
    <div class="main">
        <nav>

        </nav>
        <div class="conatinet">

            <div class="product-show">
                <div class="bg-circul">
                    <img src="" alt="">
                </div>       
                
                <div class="product-info">
                    <h6 class="p-cat"></h6>
                    <h4 class="p-name"></h4>
                    <div class="actions">
                        <button></button>
                    </div>
                </div>
                <div class="product-ratings">
                    <h5>4.5*</h5>
                    <div class="review">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quos? Ipsum earum molestiae neque aperiam officiis reprehenderit, corrupti minus deserunt!</p>
                    </div>
                </div>
            </div><div class="products-list">
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
                <div class="products" id="por-1"></div>
            </div>
        </div>
    </div>
</body>
</html>