*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(231, 229, 231);
    overflow: hidden;
}
nav{
    height: 12%;
    width: 100%;
    padding: 0 90px 0 150px;
    display: flex;
    align-items: center;
}
nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin: 0 20px;

}
nav ul li button{
    height: 34px;
    width: 80px;
    margin-bottom: 5px;
    font-size: 15px;
    border-radius: 10px;
    background-color: darkorchid;
    border: none;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    font-size: 23px;
    color: #000;
    padding: 0 15px;
}

nav ul li a img{
    width: 35px;
}
.circle{
    top: 0;
    left: 0;
    height: 190vh;
    width: 190vh;
    /* border: 180px solid green; */
    border-radius: 50%;
    position: absolute;
    transform: translate(-32%,-73%);
    /* opacity: 0.3;   */
    background-color: transparent;
    /* z-index: -1; */
    /* transform: translate(-32%,-73%) rotate(90deg); */
}
.circle-bor{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 180px solid transparent;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, darkblue, darkorchid,rgb(53, 116, 148)) border-box;
    opacity: 0.3;
    
   
}
.strib{
    width: 50%;
    height: 200px;
    /* background-color: red; */
    transform-origin: 0% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
    display: flex;
    align-items: center;
}
.strib1{
    transform: translate(0,-50%) rotate(90deg);
}
.strib3{
    transform: translate(0,-50%) rotate(-90deg);

}
.strib4{
    transform: translate(0,-50%) rotate(180deg);

}
.img-con{
    margin-left: 60%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* background-color: purple; */
}
.img-con img{
    height: 380px;
    /* width: 380px; */
    rotate: -90deg;
    
    object-fit: cover;
    opacity: 1;
}
.rev-rat{
    position: absolute;
    top: 20%;
    right: 2%;
    height: 450px;
    width: 320px;
    background: rgba(255, 255, 255, 0.35);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 206, 205, 206, 0.18 );
    box-shadow: -15px 15px 10px rgba(0,0,0,0.3);
    z-index: 5;
    padding: 35px 30px;
}

.ratings{
    height: 100%;
    width: 100%;
    
}
.ratings h3{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
    opacity: 0.7;
}
.rate{
    height: 16%;
    width: 49px;
    background-color: yellow;
    border-radius: 10px;
}
.rate h6{
    font-size: 50px;
    position: relative;
    top: -12px;
    margin-left: 15px;
}
.rate p{
    font-size: 25px;
    position: relative;
    top: -17px;
    left: 22px;
}
.ratings h5{
    /* margin: 15px 0; */
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
}
.ratings p{
    opacity: 0.6;
}
.ratings ul{
    margin-top: 15px;
    margin-left: 15px ;
    opacity: 0.8;
}
.rav-rat-bg{
    position: absolute;
    top: 20%;
    right: 2%;
    height: 450px;
    width: 320px;
    z-index: 2;
    opacity: 0.5;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.bg-circle{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: transparent;
    border: 140px solid transparent;
    /* margin-top: 100px; */
    margin-left: 100px;
    opacity: 0.5;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, rgb(1, 1, 85), darkorchid,rgb(53, 116, 148)) border-box;
}
.headline{  
    position: relative;
    height: 350px;
    width: 500px;
    margin-left: 520px;
}
.elem-h{
    position: absolute;
    top: 0;
    left: 100px;
    opacity: 0;
}
.elem-h h6{
    font-size: 25px;
}
.elem-h h5{
    font-size: 90px;
    font-weight: 300;
}
.elem-h h4{
    font-size: 100px;
}
.elem-h button{
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 3px solid #000;
}
.products-cat{
    margin-left: 200px;
    margin-top: 50px;
    height: 150px;
    width: 700px;
    /* background-color: #000; */
    display: flex;
    align-items: center;
}
.categari{
    height: 100%;
    width: 155px;
    margin: 0 10px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s linear all;
}
.categari:hover{
    background-color: #e3dddd;
    box-shadow: -10px 10px 5px rgba(0,0,0,0.3);
}
.image-con{
    height: 100px;
    width: 100px;
    overflow: hidden;
}
.products-cat img{
    height: 100px;
    width: 100px;
    object-fit: cover;

}
.icons{
    margin-top: 20px;
    height: 100px;
    width: 500px;
    margin-left: 300px;
}
.icon{
    height: 100%;
    width: 100%;
    /* background-color: green; */
}
.icon ul{
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.icon ul li{
   /* background-color: red; */
   height: 80%;
   width: 80px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.icon ul li:hover{
    /* border: 5px outset rgb(242, 238, 242); */
    background-color: rgb(242, 238, 242);
    box-shadow: -10px 10px 5px rgba(0,0,0,0.3);

}
.icon ul li a {
    text-decoration: none;
}
.icon ul li a i{
    font-size: 38px;
    color:#1f1f1f;
    font-weight: 300;
}


